*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    padding: 20px 0 0 130px;
}
.top > h1 span{
    font-size: 7rem;
    color:rgb(165, 164, 236);
    line-height: 0px;
    letter-spacing: 18px;
    font-family: 'Secular One', sans-serif;

}
.top h1{
    text-transform: capitalize;
    font-size: 60px;
    color: white;
    padding-top: 40px;
    word-spacing: 10px;
    margin-bottom: 28px;
    font-family: 'Ubuntu', sans-serif;

}
.top p{
    color: white;
    line-height: 28px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;

}
.container-vision{
    position: relative;
    height: 27rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(rgb(23, 21, 122),rgb(1, 2, 59)); */
    padding: 0 130px;
    margin: 90px 0;
    background: transparent;
}
.container-vision h1{
    color:rgb(1, 2, 59);
    font-size: 70px;
    margin: 30px 0;
    font-family: 'Ubuntu', sans-serif;
}
.container-vision p{
    color:rgb(1, 2, 59);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}
.container-paro{
    z-index: 800;
    height: 84rem;
    width: 85%;
    background: transparent;
    margin:  100px;
}
.content{
    display: flex;
    margin: 80px 100px 150px;
}
.content img{
    object-fit: cover;
}
.content-text{
    margin: 0 60px;
}
.content-text h1{
    font-size: 50px;
    color: rgb(20, 27, 68);
    font-family: 'Ubuntu', sans-serif;
}
.content-text p{
    font-size: 18px;
    color: rgb(20, 27, 68);
    font-family: 'Josefin Sans', sans-serif;

}
.Team{
    height: 42rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card-cover{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 34rem;

}
.hd h1{
    font-size: 80px;
    margin: 0 0 8rem 0;
    font-family: 'Ubuntu', sans-serif;
}
.card-member{
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(23, 21, 122),rgb(1, 2, 59));
    height: 22rem;
    width: 16rem;
    color: white;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.274);
    border-radius: 10px;
}
.card-member img{
    position: absolute;
    border-radius: 50%;
    height: 30%;
    width: 40%;
    border: 5px solid white;
    margin-top: -40px;
    object-fit: cover;
}
.card-words{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 37px 25px;
} 
.card-words h1{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.card-words h3{
    font-size: 26px;
    font-weight: 400;
    padding: 0 0 30px;
}
.card-words p{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}



















