*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    position: relative;
}
.cover-img{
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.616);
    top: 0;
    margin: 60px 190px;
    backdrop-filter: blur(10px);
    padding: 0 50px;
}
.cover-img h1{
    color: rgb(179, 178, 224);
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    margin: 5rem 0;
}
.conteiner-container{
    height: 70rem;
    width: 89%;
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    margin: 40px 6rem;
    padding: 60px 80px;
}
.bg-img img{
    width: 23rem;
    height: 25rem;
    object-fit: cover;
    z-index: 50;
    position: absolute;
}
.content-up{
    background-color: rgba(1, 0, 70, 0.582);
    height: 35%;
    width: 40rem;
    padding: 40px 80px;
    margin: 150px 0 0 290px;
    z-index: 100;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.363);
}
.content-up h1 {
    font-size: 60px;
    color: white;
    padding: 0 0 30px 0;
    font-family: 'Ubuntu', sans-serif;
}
.content-up p{
    color: white;
    font-size: 19px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 27px;
}
.content-dwn{
    height: 40rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 100px 0 0 0;
}
.content-img{
    height: 20rem;
    width: 20rem;
}
.content-img img{
    height: 25rem;
    width: 20rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.363);
}
.content-blocks{
    height: 25rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.content-align{
    display: flex;
}
.caption-one{
    background: linear-gradient(rgb(23, 21, 122),rgb(1, 2, 59));
    padding: 50px;
    height: 15rem;
    width: 320px;
    margin: 0 0 0 17px;
}
.caption-one p{
    font-size: 18px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.caption-two{
    background-color: rgb(180, 180, 180);
    padding: 50px;
    height: 15rem;
    width: 320px;
    margin: 0 0;
}
.caption-two p{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
}
.caption-three{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    height: 20rem;
    width: 30rem;
}
.caption-three p{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.caption-three span{
    font-size: 37px;
    color: rgb(1, 2, 59);
    font-family: serif;
    padding: 0 7px;
}
.contact-container{
    position: relative;
    height: 39rem;
    width: 80%;
    margin: 10%;
    display: flex;
    /* padding: 10rem 0; */
}
.contact-content{
    background-color: rgb(141, 141, 141);
    width: 100%;
    height: 26rem;
    padding: 4rem 34rem 0 50px;
}
.contact-content h1{
    font-size: 43px;
    margin: 30px 0;
    font-family: 'Ubuntu', sans-serif;
}
.contact-content p{
    font-size: 19px;
    padding: 20px 0;
    font-family: 'Josefin Sans', sans-serif;
}
.contact-form{
    background: linear-gradient(rgb(23, 21, 122),rgb(1, 2, 59));
    position: absolute;
    margin: 5rem 0 0 37rem ;
    height: 39rem;
    width: 25rem;
    padding: 30px 50px;
    box-shadow: 0 0 20px 3px rgba(4, 0, 59, 0.534);
}
.contact-form h1{
    font-size: 40px;
    margin: 0 0 30px 0;
    text-align: center;
    color: rgb(255, 255, 255);
}
.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form form input{
    width: 19rem;
    background-color: transparent;
    padding: 14px;
    border: none;
    border-bottom: 1px solid rgb(216, 216, 216);
    color: rgb(136, 136, 136);
    font-size: 18px;
}
.contact-form form select{
    font-size: 18px;
    padding: 16px;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    margin: 20px 0;
}
.contact-form form select > option{
    color: rgb(56, 56, 56);
}
.contact-form form textarea{
    height: 150px;
    font-size: 18px;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.contact-form form button{
    width: 100px;
    height: 47px;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;

}



















