*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: rgb(0, 32, 118);
    color: white;
    width: 100%;
    height: 70px;
    z-index: 20000;
    position: fixed;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.607);
}
.logo{
    position: absolute;
    height: 46px;
    width: auto;
    margin: 5px 30px;
    padding: 6px;
}
.logo p{
    line-height: 18px;
}
.logo span{
    font-size: 17px;
    color: rgb(0, 192, 173);
    font-weight: 600;
    padding: 0 2px;
}
.nav ul{
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 20px;
}
.nav li{
    margin: 0 30px;
    font-size: 23px;
}
.nav a{
    size: 40px;
    color: white;
    text-decoration: none;
}
.nav li > a:hover{
    /* background-color: white;
    color: rgb(1, 53, 197);; */
    padding: 15px;
    display: inline;
    border-bottom: 5px solid white;
    transition: .3s ease-in-out;
}
.img{
    top: 70px;
    position: relative;
    width: 100%;
    height: 26rem;
}
.img img{
    width: 100%;
    height: 26rem;
    object-fit: cover;
}
.top{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 26rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.89),  rgba(0, 0, 0, 0.342));
    top: 0;
    
}
.content{
    margin: 60px 50px;
}
.content h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.content p{
    color: white;
    font-size: 20px;
    line-height: 29px;
    font-family: 'Josefin Sans', sans-serif;
}
#btn{
    padding: 16px 20px;
    background-color: rgb(23, 21, 122);
    color: white;
    font-size: 18px;
    margin: 50px 0;
    border-radius: 10px;
}
#btn:hover{
    background: transparent;
    border: 2px solid blue;
    color: rgb(60, 60, 255);
    transition: .3s ease-in;
}

.container-1{
    height: 31rem;
    width: 100%;
    /* background: linear-gradient(rgb(23, 21, 122),rgb(1, 2, 59)); */
    display: flex;
    justify-content: center;
}
.card-over{
    height: 27rem;
    width: 53rem;
    background: linear-gradient(rgb(23, 21, 122),rgb(1, 2, 59));
    box-shadow: 0px 0 20px 5px rgba(0, 0, 0, 0.404);
    border: none;
    margin: 55px 0;
    display: flex;
    z-index: 300;
}
.statement{
    margin: 65px 0 0 35px;
    width: 23rem;
    gap: 4;
    overflow: hidden;
}

/*========== All fonts includes here ========*/

.statement h1{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
}
.statement h3{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 200;
    margin: 0 0 40px 0;
    font-family: 'Secular One', sans-serif;
}
.statement p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

/*========== They are above ========*/

.profile-pic{
    height: 27rem;
}
.profile-pic img{
    height: 20rem;
    margin: 4rem 0 0 4rem;
}
.YT{
    /* background-color: lightblue; */
    height: 57rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 10rem 4rem;
    justify-content: space-around;
    align-items: center;
}
.YT iframe{
    height: 370px;
    width: 760px;
}
.YT-content{
    margin: 50px 80px;
}
.YT-content h1{
    font-size: 50px;
    margin: 0 0 68px;
    font-family: 'Ubuntu', sans-serif;
}
.YT-content p{
    font-size: 21px;
    padding: 0 0 30px 0;
    font-family: 'Josefin Sans', sans-serif;

}
.container-2{
    position: relative;
    width: 100%;
    height: 63rem;
}
.inner{
    position: relative;
    height: 31rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-cont{
    height: 27rem;
    width: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 700px;
}
.image-cont-2{
    height: 25rem;
    width: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 700px;
}
.image-cont img{
    height: 25rem;
    width: 24rem;    
}
.image-cont-2 img{
    height: 25rem;
    width: 24rem;    
}
.discription{
    height: 22rem;
    width: 45rem;
    background: linear-gradient(rgb(23, 21, 122),rgb(1, 2, 59));
    color: white;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 25rem;
    box-shadow: 0 0 18px 9px rgba(0, 0, 0, 0.432);
    display: grid;
    position: absolute;
}
.discription-2{
    height: 22rem;
    width: 45rem;
    background: linear-gradient(rgb(23, 21, 122),rgb(1, 2, 59));
    color: white;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 25rem;
    box-shadow: 0 0 18px 9px rgba(0, 0, 0, 0.432);
    display: grid;
    position: absolute;
}
.discription h4{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.discription p{
    font-size: 19px;
    margin: 20px 0;
    font-family: 'Josefin Sans', sans-serif;
}
.discription-2 h4{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.discription-2 p{
    font-size: 19px;
    margin: 20px 0;
    font-family: 'Josefin Sans', sans-serif;
}
#cta{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    margin-left: 30rem;
    font-size: 17px;
}
#cta-2:hover{
    background: transparent;
    border: 2px solid blue;
    color: rgb(255, 255, 255);
    transition: .3s ease-in;
}
#cta-2{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
}
#cta:hover{
    background: transparent;
    border: 2px solid blue;
    color: rgb(255, 255, 255);
    transition: .3s ease-in;
}
.container-3{
    width: 100%;
    height: 33rem;
    background: linear-gradient(rgb(23, 21, 122),rgb(1, 2, 59));
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 20rem;
    height: 25rem;
    background-color: aliceblue;
    border-radius: 30px;
    box-shadow: 0 0 25px 10px rgba(245, 245, 245, 0.233);
    padding: 20px 50px;
}
.card h1{
    font-size: 38px;
    margin: 20px 0 20px 0;
    color: rgb(20, 27, 68);
    text-transform: capitalize;
    font-family: 'Secular One', sans-serif;
}
.card p{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(20, 27, 68);
    margin: 0 0 27px 0;
}
.card #cta-3{
    background-color: rgb(23, 21, 122);
    color:rgb(209, 209, 209);
    padding: 10px 18px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 7px;
    float: right;
}
.container-4{
    position: relative;
    width: 100%;
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 100px;
}
.container-4 h1{
    font-size: 60px;
    color: aliceblue;
    background-color: rgb(23, 21, 122);
    padding: 10px 20px;
    top: 75px;
    margin-bottom: 2rem;
    font-family: 'Ubuntu', sans-serif;
}
.container-4 p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 29px;
    padding: 0 120px;
}
footer{
    position: relative;
    width: 100%;
    height: 22rem;
}
footer img{
    height: 22rem;
    width: 100%;
    object-fit: cover;
}
.ftr-cover{
    top: 0;
    position: absolute;
    height: 22rem;
    width: 100%;
    background-color: rgba(4, 0, 41, 0.644);
}
.links-cover{
    display: flex;
}
.ftr-content{
    margin: 20px 0 0 50px;
}
.ftr-content ul{
    display: flex;
    gap: 30px;
}
.ftr-content li{
    list-style: none;
    margin: 0 32px;
}
.ftr-content a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.ftr-content a:hover{
    color: blue;
    transition: .3s;
}
.ftr-links{
    margin: 60px 100px;
}
.ftr-links ul{
    gap: 30px;
}
.ftr-links li{
    list-style: none;
    font-size: 21px;
    margin: 17px 0;
}
.ftr-links a{
    text-decoration: none;
    color: white;
}
.ftr-links a:hover{
    color: blue;
    transition: .3s;
}
.ftr-icons{
    display: flex;
    flex-direction: column;
    margin: 10px 90px;
}
.ftr-icons a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.ftr-icons a:hover{
    color: blue;
    transition: .3s;
}
.ftr-icons i{
    font-size: 24px;
    margin: 18px 10px;
}
.ftr-icons i:hover{
    color: blue;
    transition: .3s;
}